#artist-show
  =react_component 'VideoBanner', props: {src: 'https://s3-us-west-1.amazonaws.com/art-culture/videos/Bob+Ross+Channel+Trailer.mp4', poster: 'https://s3-us-west-1.amazonaws.com/art-culture/images/stock_snap1.jpg'}, prerender: false

  .artist-wrapper
    .artist-img
      -# %img{src: @artist.image}
      %img{src: 'https://s3-us-west-1.amazonaws.com/art-culture/brooke-cagle-241290-unsplash.jpg'}
    .artist-details
      .artist-name
        %h3=@artist.full_name
      .artist-info
        .artist-location
          %i.fas.fa-map-marker-alt
          %p="Los Angeles, California"
        .artist-website
          %i.far.fa-globe
          %a{:href => "https://google.com", target: 'blank'}
            ="https://google.com"
      .artist-bio
        %p=@artist.bio
  .current-listed-art
    %h2
      .custom-hr
      CURRENT LISTED ART
      .custom-hr
    .current-listings
      -@current_listings.each do |listing|
        .listing
          %img{src: listing.artwork_images[0].url}
          %h3=listing.title
          %p=listing.description
  =react_component 'ArtworkCirculationCarousel', props: {artworks: @artworks_in_circulation}, prerender: false

  .related-artists
    %h2
      .custom-hr
      RELATED ARTISTS
      .custom-hr
    .related-artists-wrapper
      -@related_artists.each do |artist|
        .related-artist-wrapper
          .artist-img
            -# %img{src: @artist.image}
            %img{src: 'https://s3-us-west-1.amazonaws.com/art-culture/brooke-cagle-241290-unsplash.jpg'}
          .artist-details
            .artist-name
              %h3=artist.full_name
            .artist-bio
              %p=artist.bio
          .btn-container
            =link_to 'VIEW ARTIST', artist_path(artist), class: 'view-piece'
