%script{src: "https://checkout.stripe.com/checkout.js"}

#art-show
  =react_component 'ArtworkGallery', props: {artwork: @artwork}, prerender: false
  .artist-wrapper
    .artist-img
      -# %img{src: @artist.image}
      %img{src: 'https://s3-us-west-1.amazonaws.com/art-culture/brooke-cagle-241290-unsplash.jpg'}
    .artist-details
      .artist-name
        %h3=@artist.full_name
        =link_to 'VIEW PAGE', @artist
      .artist-info
        .artist-location
          %i.fas.fa-map-marker-alt
          %p="Los Angeles, California"
      .artist-bio
        %p=@artist.bio

  .trading-history-wrapper
    =react_component 'TradingHistory', props: {artworkLogs: @artwork_logs}, prerender: false

  -# -if current_user.is_a? Buyer
  .bid-wrapper
    =react_component 'ArtworkBid', props: {artwork: @artwork, currentUser: current_user, stripeKey: @stripe_key, currentBid: @current_bid}, prerender: false
