@font-face {
  font-family: "Bauer Bodoni BT";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Bauer+Bodoni+BT.ttf";
}
@font-face {
  font-family: "Bauer Bodoni Bold BT";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Bauer+Bodoni+Bold+BT.ttf";
}
@font-face {
  font-family: "Lato Light";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Lato-Light.ttf";
}
@font-face {
  font-family: "Lato";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Lato-Regular.ttf";
}
@font-face {
  font-family: "Lora Bold";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Lora-Bold.ttf";
}
@font-face {
  font-family: "Lora";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Lora-Regular.ttf";
}
@font-face {
  font-family: "Montserrat Bold";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Montserrat-Bold.ttf";
}
@font-face {
  font-family: "Montserrat";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Montserrat-Regular.ttf";
}
@font-face {
  font-family: "Montserrat Thin";
  src: "https://s3-us-west-1.amazonaws.com/art-culture/fonts/Montserrat-Thin.ttf";
}
