@import 'variables';


#art-hero {
  .artist-carousel {
    height: calc(90vh - #{$navHeight});

    .artist-container {
      height: 100%;
      display: inline-flex !important;

      .artist-image, .artist-details {
        display: inline-flex;
      }
    }
    .artist-image {
      width: 60%;
      height: 100%;
      background-size: cover;
      background-position: center;
      position: relative;

      .overlay {
        background-color: rgba(0,0,0,0.2);
      }
    }
    .artist-details {
      width: 40%;
      height: 100%;
      padding: 0 4em;

      .details-container {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        img {
          width: 6em;
          height: 6em;
          border-radius: 3em;
        }
        h2.name {
          font-family: 'Bauer Bodoni BT';
          text-transform: none;
          font-size: 2em;
          margin: 0.5em 0 1em;
        }
        h3 {
          font-size: 1.5em;
          margin: 0;
        }
        p.bio {
          color: $lighterGrey;
          text-align: center;
          overflow: hidden;
        }
        .cta-btn-container {
          display: flex;

          a.view {
            letter-spacing: 1pt;
            padding: 1em 3em;
          }
        }
      }
    }
    @media #{$tablet_vertical} {
      .artist-container {
        flex-direction: column;

        .artist-image, .artist-details {
          width: 100%;
          height: 50%;
        }
        .artist-details {
          padding: 0 2em;

          img, h2.name {
            display: none;
          }
          p.bio {
            line-height: 1.2;
            max-height: 9.6em;
          }
        }
      }
    }
  }
  @media #{$mobile_large} {
    font-size: 0.85em;

    .artist-carousel .artist-details .details-container {
      h3 {
        font-size: 1.5em;
      }
      h2.name {
        font-size: 2em;
      }
      a.view {
        font-size: 0.8em;
      }
    }
  }
  @media #{$mobile_landscape} {
    font-size: 0.7em;
    .artist-carousel .artist-details {
      padding: 0 6em;

      .details-container h2.name {
        display: none;
      }
    }
  }
  @media #{$mobile_small} {
    font-size: 0.7em;
  }
}
.artist-wrapper {
  display: flex;
  margin: 0 10em;

  .artist-img, .artist-details {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em;
  }
  .artist-name, .artist-location, .artist-bio {
    display: flex;
    align-items: center;
  }
  .artist-img {
    width: 20%;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  .artist-name {
    h3 {
      font-size: 1.5em;
    }
    a {
      color: white;
      background: $actionBlue;
      padding: 0.5em 3em;
      border-radius: 2pt;
      transition: 0.3s;
      margin: 0 2em;

      &:hover {
        background: lighten($actionBlue,5%);
      }
    }
  }
  .artist-details {
    width: 80%;

    .artist-location {
      color: $grey;
      .fas {
        margin-right: 1em;
      }
    }
    .artist-bio {
      p {
        line-height: 1.2;
        max-height: 3.6em;
        overflow: hidden;
      }
    }
  }
  @media #{$tablet_landscape}, #{$tablet_vertical} {
    .artist-img {
      width: 25%;
    }
    .artist-details {
      width: 75%;
      margin-left: 0;

      .artist-name {
        h3 {
          margin: 0.5em 0;
        }
      }
      .artist-location {
        p {
          margin: 0;
        }
      }
    }
  }
  @media #{$mobile_landscape} {
    margin: 0 2em;
  }
  @media #{$tablet_vertical} {
    margin: 0;
  }
}
#art-show {

}
#artist-show {
  padding: 4em 0;

  .current-listed-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .current-listings {
      display: flex;
      flex-wrap: wrap;
      padding: 1em;

      .listing {
        width: 33%;
        padding: 1em;

        img {
          width: 100%;
        }
      }
    }
  }
  @media #{$mobile_landscape}, #{$tablet_vertical} {
    .current-listed-art .current-listings .listing {
      width: 50%;
    }
  }
}
.art-in-circulation {
  h2 {
    text-align: center;
  }
  #art-circulation-carousel {

    height: calc(90vh - #{$navHeight});

    .artwork-image {
      height: calc(90vh - #{$navHeight});
    }
  }
}
.related-artists {
  display: flex;
  flex-direction: column;
  padding: 4em 8em;

  h2 {
    text-align: center;
  }

  .related-artists-wrapper {
    display: flex;
    flex-wrap: wrap;

    .related-artist-wrapper {
      width: 25%;
      display: inline-flex;
      flex-direction: column;
      padding: 2em;
      align-items: center;
      justify-content: flex-start;

      .artist-img{
        width: 75%;

        img {
          border-radius: 50%;
          width: 100%;
        }
      }
      .artist-details {
        text-align: center;

        .artist-bio {
          p {
            line-height: 1.2;
            max-height: 12em;
            overflow: hidden;
          }
        }
      }
    }
  }
  @media #{$mobile_landscape}, #{$tablet_vertical} {
    padding: 4em 2em;

    .related-artists-wrapper .related-artist-wrapper {
      width: 50%;
    }
  }
  @media #{$mobile_large} {
    .related-artists-wrapper .related-artist-wrapper {
      width: 100%;
    }
  }
}

#artists {
  .artists-container {
    padding: 0 4em;
    h2 {
      text-align: center;
    }
    .filter-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 2em 0;

      .filter-options {
        overflow: hidden;
        height: 2em;
        display: block;
      }
      #filter-by-letters {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        transition: 0.3s;

        &.shown {
          margin-top: 0;
        }
        &.hidden {
          margin-top: -2em;
        }
      }
      #filter-by-search {
        transition: 0.3s;
        height: 2em;
        display: flex;
        min-width: 20em;
        max-width: 20em;

        input {
          border: 0;
          border-bottom: 1px solid black;
          height: 100%;
          font-size: 1em;
          width: 100%;
          margin: 0;
          border-image-width: 0;
          padding: 0;
          background: transparent;

          &:focus {
            outline: none;
          }
          &::placeholder {
            font-style: italic;
            font-size: 0.8em;
          }
        }
        .close-search {
          cursor: pointer;
          margin-left: 1em;
        }
      }
      .letter-btn {
        cursor: pointer;
        height: 2em;
        width: 2em;
        // margin: 0 2pt;
        margin: 0 -4pt;
        line-height: 1;
        padding: 0.5em;
        background: white;
        color: black;
        border-radius: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
        border: 1px solid;

        &.selected {
          color: white;
          background: black;
          z-index: 1;
          border: 1px solid black;
        }
        &:hover {
          margin: 0 4pt;
        }
      }
      .search-btn {
        cursor: pointer;
        margin-right: 2em;
      }
      .all-btn {
        cursor: pointer;
        margin: 0 0.5em;
        line-height: 1;
        margin-left: 2em;
      }
    }
    .artist-cards-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .artist-card {
        width: 33%;
        padding: 1em;

        img {
          height: 100%;
          width: 100%;
        }
        .name {
          font-size: 1.5em;
        }
        .categories {
          color: $lighterGrey;
        }
      }
    }
  }
  @media #{$tablet_vertical}, #{$mobile_landscape} {
    .artists-container .artist-cards-container .artist-card {
      width: 50%;
    }
  }
  @media #{$mobile_large} {
    .artists-container .artist-cards-container .artist-card {
      width: 100%;
    }
  }
}
