@import 'variables';

#art-hero {
  height: calc(100vh - #{$navHeight});
  font-family: 'Lato';

  .btn-container {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;

    .options {
      border: 2pt solid darken($lightestGrey, 5%);
      border-radius: 6pt;
      display: flex;
      align-items: center;

      a {
        padding: 0.3em 1em;
        text-decoration: none;
        color: darken($lightestGrey, 5%);
        text-transform: uppercase;
        transition: 0.3s;
        letter-spacing: 1pt;
        font-weight: 100;

        &.selected {
          background: $actionBlue;
          color: white;
          border: 2pt solid $actionBlue;
          border-radius: 3pt;
          box-shadow: 0 0 0 2.5pt $actionBlue;
        }
      }
    }
  }
}

#artist-carousel-wrapper {
  display: none;
}

.art-carousel {
  height: calc(90vh - #{$navHeight}) !important;

  .artwork-container {
    display: flex !important;
    position: relative;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    height: 100%;

    .artwork-image {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;

      .overlay {
        background: rgba(0,0,0,0.1);
      }
    }

    .details-btn {
      position: absolute;
      bottom: 2em;
      right: 2em;
      background: $bannerYellow;
      border-radius: 3em;
      width: 3em;
      height: 3em;
      z-index: 9;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s;

      .times {
        transition: 0.4s;
        transform: rotate(45deg);
        color: white;
        font-size: 1.5em;
        line-height: 1;
      }

      &:hover {
        background: lighten($bannerYellow, 5%);
      }

      &.selected {
        background: $black;

        .times {
          transform: rotate(180deg);
        }

        &:hover {
          background: lighten($black, 5%);
        }
      }
    }

    .artwork-details {
      background: rgba(255, 255, 255, 0.9);
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 0.4s;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      &.no-events {
        pointer-events: none;
      }

      .details-container {
        padding: 5vh;
        color: black;
        z-index: 4;
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        width: 60%;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
          color: $grey;
        }

        h2.title {
          font-family: 'BauerBodni BT';
          text-transform: none;
          font-size: 4em;
          margin: 0;
        }

        h3 {
          font-size: 1.5em;
        }

        .description {
          margin: 1em 0;

          p {
            line-height: 1;
            margin: 0;
            font-weight: 300;
          }
        }

        .btn-container {
          display: flex;

          .cta-btn {}
        }

        .details {
          p {
            font-size: 0.8em;
          }
        }
      }
      @media #{$tablet_landscape}, #{$mobile_landscape} {
        .details-container {
          width: 90%;

          h2.title {
            font-size: 3em;
          }
        }
      }
      @media #{$tablet_vertical} {
        .details-container {
          width: 100%;
          padding: 1em 2em;

          h2.title {
            font-size: 2.5em;
          }

          h3 {
            font-size: 1em;
          }

          .description {
            font-size: 1.2em;

            p {
              max-height: 6em;
            }
          }
        }
      }
    }
  }
}

#recent-listings {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;

  h2 {
    font-size: 1.5em;
    font-weight: 400;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .listings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 4em;

    .listing {
      width: 33%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      pointer-events: none;

      .img-wrapper {
        position: relative;
        pointer-events: all;
        display: block;
        box-shadow: 0 0 10pt 0 grey;

        &.favorite {
          outline: 3px solid $favoriteGold;
          display: grid;
        }
      }

      img {
        width: 100%;
        pointer-events: none;
      }

      .info-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: visibility 0s, opacity 0.2s linear;
        visibility: hidden;

        &.hovered {
          display: flex;
          visibility: visible;
          opacity: 1;
        }
      }

      .info {
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 2em;
        transition: 0.2s;

        .star {
          cursor: pointer;
          transition: 0.3s;
          color: $favoriteGold;
          align-self: flex-end;
        }

        .category {
          text-transform: uppercase;
        }

        .btn-container {
          display: flex;
          justify-content: center;
          margin: 0.5em 0;

          a.share {
            background: $actionBlue;
            color: white;
            padding: 0.5em 2em;
            border-radius: 4pt;
            font-size: 0.8em;
            font-family: "Lato";
            font-weight: 200;
            transition: 0.3s;

            &:hover {
              background: lighten($actionBlue, 5%);
            }
          }
        }
      }
    }
  }
  @media #{$tablet_vertical}, #{$tablet_landscape} {
    .listings-container .listing {
      width: 50%;
    }
  }
  @media #{$mobile_large} {
    .listings-container {
      padding: 0;

      .listing {
        width: 100%;
      }
    }
  }
}

#art-show {
  .artwork-gallery {
    padding: 4em 2em;

    h1 {
      text-align: center;
      font-size: 3em;
      font-family: 'BauerBodni BT';
      text-transform: none;
    }

    .info-container.mobile {
      display: none;
    }

    .gallery {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      padding: 4em;

      .gallery-main {
        display: inline-flex;
        width: 85%;
        margin: 0 1em;
      }

      .main-container {
        display: inline-flex;
        box-shadow: 0 2pt 12pt 0 grey;
        width: 100%;

        .main-img {
          width: 65%;
          height: 30em;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .info-container {
          width: 35%;
          display: flex;
          flex-direction: column;
          padding: 1em 2em;
        }
      }

      .gallery-img-list {
        width: 15%;
        display: inline-flex;
        flex-direction: column;
        margin: 0 1em;
        height: 30em;
        justify-content: space-between;

        .gallery-img {
          height: 30%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            box-shadow: 0 0 12pt 0 grey;
            cursor: pointer;
          }
        }
      }
    }
  }
  @media #{$tablet_landscape}, #{$tablet_vertical} {
    .artwork-gallery {
      .info-container.mobile {
        padding: 0 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .gallery {
        .main-container {
          .main-img {
            width: 100%;
          }

          .info-container {
            &.desktop {
              display: none;
            }
          }
        }
      }
    }
  }
  @media #{$tablet_vertical} {
    .artwork-gallery {
      .gallery {
        flex-direction: column;

        .gallery-img-list,
        .gallery-main {
          width: 100%;
          margin: 1em 0;
          height: auto;
          flex-direction: row;

          .gallery-img {
            width: 30%;
            height: auto;
          }
        }
      }
    }

    .artist-wrapper {
      padding: 0 4em;
    }
  }
  @media #{$mobile_large} {
    .artwork-gallery {
      .gallery {
        padding: 0;

        .main-container .main-img {
          height: auto;
        }
      }

      .info-container.mobile {
        padding: 0;
      }
    }

    .artist-wrapper {
      padding: 2em;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .artist-name {
        flex-direction: column;
      }
    }
  }
}

.trading-history-wrapper {
  padding: 4em 10em;

  .trading-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;

    .trading-history-container {
      width: 100%;
      font-family: 'Lato';

      .head {
        background: darken($darkBodyColor, 5%);
        padding: 1em;

        h2 {
          margin: 0;
          font-weight: 400;
          text-align: center;
          font-family: 'Lato';
          font-size: 2em;
        }
      }

      .logs {
        width: 100%;
        background: darken($darkBodyColor, 2%);
        padding: 2em 6em 6em;

        .log-dates {
          width: 100%;
          display: flex;
          justify-content: space-around;
          overflow: scroll;
          padding: 1em 0;

          .log-date {
            cursor: pointer;
            padding: 0.5em 1em;
            border-radius: 2em;
            font-weight: 800;
            color: grey;
            white-space: nowrap;

            &.selected {
              border: 2px solid;
            }
          }
        }

        p {
          color: grey;
        }

        p.log-description {
          font-family: "BauerBodni BT";
        }

        .log-details {
          h3 {
            font-size: 1.5em;
          }

          p .text {
            font-weight: 800;
          }
        }
      }
    }
  }
  @media #{$tablet_vertical} {
    padding: 4em;

    .trading-history .trading-history-container .logs {
      padding: 2em;

      .log-dates {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        border-bottom: 1pt solid $grey;
      }
      .log-info-wrapper {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
      }
    }
  }
  @media #{$mobile_large} {
    padding: 0;
  }
}

.bid-wrapper {
  padding: 4em 10em;

  .bid-container {
    padding: 2em;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0;
      font-weight: 600;
      font-family: 'Lato';
      font-size: 2em;
    }

    h3 {
      color: grey;
    }

    p {
      color: grey;
      width: 50%;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      a.offer-btn {
        background-color: $actionRed;
        letter-spacing: 0;
        border-radius: 3em;
        margin: 0;
        color: white;
        padding: 1em 4em;
        font-weight: 100;
        font-size: 0.9em;
        transition: 0.3s;

        &:hover {
          background-color: darken($actionRed, 5%);
        }
      }
    }

    .rodal-dialog {
      background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("https://s3-us-west-1.amazonaws.com/art-culture/images/login-bg.jpg");

      form {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 2em 6em;

        .input-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          width: 100%;

          & > div {
            display: inline-flex;
          }
        }

        input[type=number],
        textarea {
          padding: 0.5em 1em;
          margin: 0 0.5em;
          width: 100%;
        }

        input[type=submit] {
          background-color: $actionRed;
          letter-spacing: 0;
          border-radius: 3em;
          margin: 0;
          color: white;
          padding: 1em 4em;
          font-weight: 100;
          font-family: 'Lato';
          font-size: 0.7em;
          transition: 0.3s;
          cursor: pointer;
          text-transform: uppercase;

          &:hover {
            background-color: darken($actionRed, 5%);
          }
        }
      }
    }
  }
  @media #{$tablet_vertical} {
    padding: 4em;
  }
  @media #{$mobile_large} {
    padding: 0;

    .bid-container {
      .rodal-dialog form {
        padding: 2em;
      }

      p {
        width: 100%;
      }
    }
  }
}
