@import 'variables';

#artwork-categories {
  h2 {
    font-family: 'BauerBodni Bold BT';
    text-align: center;
  }
  .artwork-category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;

    .artwork-category-card {
      width: 33%;
      padding: 1em;
      pointer-events: none;

      .img-wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        cursor: pointer;
        pointer-events: all;

        .details-container {
          pointer-events: none;
        }
        img {
          width: 100%;
        }
        .info-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: visibility 0s, opacity 0.2s linear;
          visibility: hidden;

          &.hovered {
            display: flex;
            visibility: visible;
            opacity: 1;
          }
        }
        .info {
          height: 100%;
          width: 100%;
          background: rgba(255, 255, 255, 0.7);
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s;

          h2 {
            font-size: 2em;
            font-weight: 600;
          }
        }
      }
    }
  }
  @media #{$tablet_vertical}, #{$mobile_landscape} {

    .artwork-category-cards .artwork-category-card {
      width: 50%;
    }
  }
  @media #{$tablet_vertical}, #{$tablet_landscape} {
    .artwork-category-cards .artwork-category-card .img-wrapper .info-wrapper {
      visibility: visible;
      opacity: 1;

      .info {
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }
  @media #{$mobile_large} {
    h2 {
      font-size: 2em;
    }
    .artwork-category-cards .artwork-category-card {
      width: 100%;
    }
    .artwork-category-cards .artwork-category-card .img-wrapper .info-wrapper .info h2 {
      font-size: 1.5em;
    }
  }
}
