@import 'variables';
$chevron_size: 50pt;

.slick-slider {
  height: 100%;
  .slick-list {
    height: 100%;
    .slick-track {
      height: 100%;
      .slick-slide {
        height: 100%;
        & > div {
          height: 100%;
        }
      }
    }
  }
  button.slick-arrow {
    cursor: pointer;
    display: contents;
    z-index: 5;
    position: absolute;

    &.slick-next:before, &.slick-prev:before {
      font-size: 0;
      content: none;
    }

    &.slick-prev, &.slick-next {
      width: 0;
      height: 0;
      font-size: 12pt;

      top: calc(50% - 6pt);

      .fal {
        color: white;
        font-size: 1em;
        padding: 0;
        border-radius: 5em;
        border: 1pt solid white;
        line-height: 1;
        width: 2em;
        height: 2em;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      .fal.dark {
        color: $black;
        border-color: $black;

        @media #{$tablet_vertical} {
          color: white;
          border-color: white;
        }
      }
    }

    &.slick-prev {
      left: 2.5em;
    }
    &.slick-next {
      right: calc(2.5em + 1em);
    }
    @media #{$tablet_vertical} {
      &.slick-prev, &.slick-next {
        .fal {
          font-size: 1.5em;
        }
      }

      &.slick-prev { left: 0.5em; }
      &.slick-next { right: calc(2em + 1.5em); }
    }
    @media #{$mobile_large}, #{$mobile_landscape} {
      &.slick-prev, &.slick-next {
        .fal {
          border-width: 1.5pt;
          font-size: 1em;
          font-weight: 900;
        }
      }

      &.slick-prev { left: 0.5em; }
      &.slick-next { right: calc(1em + 1.5em); }
    }
  }
  .slick-list {
    z-index: 4;
    .slick-track {
      .slick-slide, .slick-slide *{ outline: none !important; }
    }
  }
}

// ac specific
#art-carousel-wrapper {
  .block-slick-btns {
    .slick-slider button.slick-arrow {
      &.slick-prev, &.slick-next {
        pointer-events: none;
      }
    }
  }
}
#artist-carousel-wrapper {
  opacity: 0;
}
@media #{$tablet_vertical}{
  #artist-carousel-wrapper {
    .slick-slider button.slick-arrow {

      &.slick-prev, &.slick-next {
        top: calc(25% - 6pt) !important;
      }
    }
  }
}
.artworks-carousel {
  .slick-slider button.slick-arrow {
    &.slick-prev {
      left: 0;
    }
    &.slick-next {
      right: 2em;
    }
    &.slick-prev, &.slick-next {
      font-size: 2em;
      .fal {
        border: 0;
      }
    }
  }
  @media #{$mobile_large} {
    .art-circulation {
      height: 100% !important;
    }
  }
}
#artist-show {
  .slick-slider button.slick-arrow {
    &.slick-prev, &.slick-next {
      .fal.dark {
        @media #{$tablet_vertical} {
          color: $black;
        }
      }
    }
    @media #{$tablet_vertical} {
      &.slick-next {
        right: 3em;
      }
    }
  }
}
