@import 'variables';

#contact-form-container {
  text-align: center;
  padding: 4em 2em;
  height: 40em;

  .contact-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  h2 {
    font-weight: 600;
    text-transform: none;
    color: $black;
  }
  p {
    color: $lighterGrey;
  }

  .form-container {
    display: inline-block;
    width: 60%;

    .input-wrapper {
      display: inline-flex;
      padding: 0.5em;

      &.message,
      &.name,
      &.submit {
        width: 100%;
      }

      &.email {
        width: 50%;
        @media #{$mobile_large} {
          width: 100%;
        }
      }

      &.number {
        width: 50%;
        @media #{$mobile_large} {
          width: 100%;
        }
      }

      &.message {
        height: 100pt;
      }

      input,
      textarea,
      button {
        padding: 1.5em 1em;
        display: inline-block;
        border-radius: 4pt;
        border: 1pt solid $lighterGrey;
        width: 100%;
        color: $black;
        resize: none;
        font-size: 0.8em;

        &::placeholder {
          font-style: italic;
          color: lighten(grey, 10%);
        }
      }
      input[type=submit], button[type=submit] {
        background: $actionBlue;
        border-color: $actionBlue;
        color: white;
        font-weight: 500;
        letter-spacing: 3pt;
        cursor: pointer;

        &.disabled {
          cursor: not-allowed;
          background: lighten($actionBlue, 10%);
        }
      }
    }
  }
  #contact-success {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    .success-message {
      font-weight: 500;
      font-size: 1.3em;
      color: $success_green;
      display: none;
      line-height: 100px;
    }
  }
  @media #{$mobile_landscape} {
    .form-container {
      width: 100%;
    }
  }
  @media #{$tablet_vertical} {
    .form-container {
      width: 75%;
    }
  }
  @media #{$mobile_large} {
    height: auto;

    .form-container {
      width: 100%;
    }

    #contact-success .success-message {
      font-size: 1em;
    }
  }
}

#contact {
  .contact-banner {
    background: $actionBlue;
    padding: 2em;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      color: white;
      margin: 0;
      font-family: 'Lato';
      text-transform: none;
      font-weight: 700;
      text-align: center;
    }
  }
  h3 {
    text-align: center;
  }
  @media #{$mobile_large} {
    .contact-banner {
      h2 {
        font-size: 2em;
      }
    }
  }
}
