@import 'variables';

.auth-forms {
  // position: absolute;
  // width: 100%;
  // height: 100vh;
}
.users {

  h2 {font-size: 2em;}

  .rodal-dialog {
    background-image: url('https://s3-us-west-1.amazonaws.com/art-culture/images/login-bg.jpg');
    padding: 0;
    background-size: cover;
    border-radius: 5pt;
    // z-index: 9;
  }
  &.signup {
    .rodal-dialog {
      width: 700pt !important;
      height: 550pt !important;
    }
    @media #{$tablet_vertical} {
      .rodal-dialog {
        width: 450pt !important;
        height: 450pt !important;
      }
    }
    @media #{$mobile_large} {
      .rodal-dialog {
        width: 250pt !important;
        height: 450pt !important;
      }
    }
    @media #{$mobile_small} {
      .rodal-dialog {
        width: 225pt !important;
        height: 400pt !important;
      }
    }
  }
  &.signin {
    .rodal-dialog {
      width: 400pt !important;
      height: 400pt !important;
    }
    @media #{$tablet_vertical} {
      .rodal-dialog {
        width: 300pt !important;
        height: 300pt !important;
      }
    }
    @media #{$mobile_large} {
      .rodal-dialog {
        width: 250pt !important;
      }
    }
  }
}
.users {
  // min-height: calc(100vh - #{$navHeight});
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: relative;
  flex-direction: column;
  border-radius: 5pt;

  .overlay {
    background: rgba(255,255,255,0.8);
    z-index: 0;
    border-radius: 5pt;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;

    form {
      width: 100%;
      margin-bottom: 2em;
      font-size: 0.75em;

      .field {
        margin: 1em 0;
      }
      input, textarea {
        width: 100%;
        margin: 0.5em 0;
        text-indent: 1em;
      }
      input {
        height: 4em;
      }
      input[type=submit] {
        background: $actionBlue;
        color: white;
        text-indent: 0;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: darken($actionBlue, 10%);
        }
      }
    }
    .signup-link, .signin-link {
      margin: 0.5em;

      a {
        text-decoration: underline;
      }
    }
  }
  @media #{$tablet_vertical} {
    padding: 2em;

    .content-wrapper {
      width: 100% !important;
      font-size: 0.6em;

      form input {
        height: 3em;
      }
    }
  }
  @media #{$mobile_small} {
    .content-wrapper {
      font-size: 0.5em;
    }
  }
}
#sign-in {
  .signin-form {
    z-index: 4;
    .content-wrapper {
      width: 30em;
    }
  }

}
#sign-up {
  .content-wrapper {
    width: 40em;

    form {
      .field.name-field {
        display: flex;
        justify-content: space-between;
        margin: 0.5em 0;

      }
      .half, .name {
        display: inline-flex;
        width: 48%;
        flex-direction: column;

      }
      input[type=submit] {
        &.artist {
          background: $actionBlue;

          &:hover {
            background: darken($actionBlue, 5%);
          }
        }
        &.buyer {
          background: $actionRed;

          &:hover {
            background: darken($actionRed, 5%);
          }
        }
      }
    }
  }
  .signup-option {
    &.visible { display: flex; }
    &.hidden { display: none; }

    @media #{$tablet_vertical} {
      .content-wrapper {
        width: min-content;
      }

    }
  }

  #signup-container {
    z-index: 4;

    form {
      .user-types {
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;

        .user-type {
          cursor: pointer;
          display: inline-flex;
          width: auto;
          align-items: center;
          justify-content: center;
          border: 1.5pt solid;
          border-radius: 6pt;
          padding: 0 4em;
          pointer-events: all;
          transition: 0.3s;

          &.artist {
            border-color: $actionBlue;
            color: $actionBlue;

            &.selected {
              color: white;
              background: $actionBlue;
            }
          }
          &.buyer {
            border-color: $actionRed;
            color: $actionRed;

            &.selected {
              color: white;
              background: $actionRed;
            }
          }

          input[type=radio], label {
            pointer-events: none;
          }
          input[type=radio] {
            width: auto;
            margin: 0;
            // margin: 0 1em 0 0;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
          }
        }
      }
    }
  }
  @media #{$tablet_vertical} {
    .content-wrapper {

      form .field.name-field {
        // flex-direction: column;

        .name {
          // width: 100%;
          margin: 0.5em 0;
        }
      }
    }
  }
}
#subscription-container {
  z-index: 4;
  background: white;
  border-radius: 0.5em;
  padding: 4em;
  text-align: center;
  color: darken($actionBlue, 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  h4 {
    font-family: 'GothamThin';
  }

  .payment-options {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a.payment-option {
      font-size: 1.5em;
      padding: 2em 4em;
      background: $darkBodyColor;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1em;
      border-radius: 0.5em;
      transition: 0.3s;

      .fab, .far {
        color: $actionBlue;
        font-size: 4em;
        transition: 0.3s;
      }
      &:hover {
        background: darken($darkBodyColor, 5%);
        .fab, .far {
          color: lighten($actionBlue, 5%);
        }
      }
    }
  }
  @media #{$tablet_vertical} {
    .payment-options {
      flex-direction: column;
    }
  }
  @media #{$mobile_large} {
    padding: 2em;

    .payment-options {
      font-size: 0.8em;
    }
  }
}
