@import 'variables';

#nav-container {
  height: $navHeight;

  @media #{$mobile_landscape} {
    height: $navHeightLandscape;
  }
}
nav {
  width: 100%;
  height: $navHeight;
  overflow: hidden;
  background: none;
  z-index: 6;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;

  .navbar-header {
    display: flex;
  }
  .nav-links {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    width: 100%;

    .left, .middle, .right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .left, .right {
      width: 40%;
    }
    .left {
      justify-content: flex-start;
    }
    .middle {
      justify-content: center;
      width: 20%;
      a { margin: 0 2.5em; }
    }
    .right {
      justify-content: flex-end;
      a {
        margin: 0 1em;

        &.profile-link {
          text-transform: none;
        }
        .fa-user {
          margin-left: 1em;
        }
      }
    }
    .middle, .right {
      font-weight: 900;
    }
    a {
      color: $black;
      display: inline-block;
      margin: 1.5em;
      font-weight: 200;
      text-transform: uppercase;
      text-decoration: none;
      // font-size: 0.8em;

      &.logo {
        font-size: 2em;
        margin: 10pt;
      }
      &.logo img {
        width: 8em;
      }
    }
  }
  @media #{$tablet_vertical} {
    .navbar-header {
      display: block;

      a {
        margin: 2em;
        display: inline-block;

        img {
          width: 5em;
        }
      }
    }
  }
  @media #{$tablet_vertical}, #{$mobile_landscape} {
    .nav-links .right {
      .signin-signup, .signout {
        display: none;
      }
    }
  }
  @media #{$mobile_landscape} {
    height: $navHeightLandscape;
    .nav-links {
      font-size: 0.8em;

      .middle a {
        margin: 0 1.5em;
      }
    }
  }
  @media #{$mobile_landscape}, #{$mobile_large} {
    .nav-links {
      .left, .right {
        width: 10%;
      }
      .middle {
        width: 80%;
      }
      a {
        margin: 0 !important;
        font-size: 1em;

        &.logo img {
          width: 5em;
        }
      }
    }
  }
  @media #{$mobile_large} {
    .navbar-header a {
      margin: 1em 2em;
      img {
        width: 4em;
      }
    }
    .nav-links .right a.profile-link {
      .text {
        display: none;
      }
      .fa-user {
        margin-left: 0;
        margin-right: 2em;
      }
    }
  }
  @media #{$mobile_common} {
    .navbar-header a {
      margin: 1em;
    }
  }
}

#nav-sidebar {
  width: 200pt;
  right: left;
  position: fixed;
  z-index: 7;
  float: right;
  height: 100vh;
  background: white;
  overflow: scroll;
  box-shadow: 0 0 25pt -10pt black;
  background: $black;

  &.closed {
    display: none;
  }
  &.open {
    display: block;
  }
  .header {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em;
    white-space: nowrap;
    color: white;

    a.close-btn {
      transition: 0.2s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 2em;
      font-weight: 100;

      &:hover {
        color: darken(white, 5%);
      }
    }

  }
  .sidebar-links-container {
    display: inline-block;
    padding: 2em;
    width: 100%;

    .sidebar-links {
      display: flex;
      flex-direction: column;

      a {
        margin: 1em 0;
        color: white;
        font-family: 'Lato';
        text-transform: uppercase;
        font-weight: 100;
      }
      .sidebar-footer {
        position: absolute;
        bottom: 0;
        padding: 2em 0;

        .signin-signup, .signout {
          display: flex;
          flex-direction: column;
        }

        .social-links {
          display: flex;
          justify-content: space-between;
          width: 6em;
          margin: 2em 0 0;
        }

        a {
          display: inline-block;
          white-space: nowrap;
        }
      }
    }
  }
  @media #{$mobile_large} {
    width: 100%;

    .sidebar-links-container .sidebar-links {
      align-items: center;
      .sidebar-footer {
        .signin-signup, .signout {
          align-items: center;
        }
      }
    }
  }
}

#nav-overlay {
  display: none;
  color: white;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: $lightBrand;
  overflow: auto;
  z-index: 4;

  a {
    text-decoration: none;
    color: white !important;
    opacity: 0.7;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
  .overlay-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1em;
    letter-spacing: 3pt;
    color: white;
  }

  .overlay-head {
    font-size: 2em;
    color: white;
    justify-content: flex-end;
    display: flex;
    margin: 0.5em;
    font-weight: 100;
  }

  .page-links {
    top: 25%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    a {
      display: block;
      text-transform: uppercase;
      margin: 1.3em 0;
      letter-spacing: 5px;
      font-size: 1.5em;
    }
  }

  .overlay-footer {
    position: absolute;
    bottom: 1.5em;
    font-size: 0.7em;
    width: 100%;

    .copyright {
      padding: 2.5em;
      float: left;
      @media #{$tablet_vertical} {
        padding: 20px;
      }
      @media #{$mobile_large} {
        padding: 20px 40px;
      }
    }

    .social {
      padding: 2.5em;
      float: right;

      a {
        text-transform: uppercase;
        margin: 0 0.7em;
        letter-spacing: 2px;
      }

      a.fa {
        font-size: 2em;
        display: none;
      }
      @media #{$tablet_vertical} {
        padding: 20px;
      }
      @media #{$mobile_large} {
        float: left;
        padding: 0 40px;

        a.smooth-font {
          display: none;
        }

        a.fa {
          display: inline-block;
        }
      }
    }
  }
  @media #{$mobile_large_landscape} {
    text-align: center;

    .page-links {
      $font_size: 18px;
      display: inline-block;
      width: 100%;
      left: 0;
      // top: calc(50% - #{$font_size}/2);

      .nav-link {
        display: inline-block;

        a {
          margin: 10px;
          font-size: $font_size;
          line-height: $font_size;
          display: inline-block;
        }
      }
    }

    .copyright {
      display: none;
    }
  }
}
